#titulo {
    background: #eab676;
    color: white;
    height: 80px;
}
#titulo a {
    color: white;
}

#header {
    float: left;
    padding: 15px 0 0 20px;
    text-decoration: none;
}
#header:hover {
    color: #0a0808;
}

#header .nombre {
    display: block;
    font-weight: 700;
    font-size: 45px;
}

nav {
    float: right;
}
nav ul {
    margin: 0;
    list-style: none;
    padding: 20px 20px;
    font-size: 25px;
}

nav ul li {
    display: inline-block;
    line-height: 45px;
}

nav ul li a {
    display: block;
    padding: 0 5px;
    text-decoration: none;
    transition: 0.5s;
}

nav ul li a:hover {
    background: #7b5d04;
    border-radius: 15px;
}

.aside {
    position: absolute;
    background-color: bisque;
    padding: 0 20px;
    top: 100px;
    left: 8px;
    bottom: -160px;
    width: 10%;
    display: flex;

}

.categorias {
    background-color: #7b5d04;
    float: left;
    margin: 0;
    height: 35px;
    line-height: 30px;
    color: #fff;
    padding: 5px 58px;
    font-size: 25px;
    margin-bottom: 20px;
    margin-left: -20px;
}

p {
    margin: 0 0 1.5em 0;
}

h1 {
    font-size: 2.3em;
    line-height: 1.3em;
    margin: 15px 0;
    text-align: center;
    font-weight: 300;
}

.section {
    background: white;
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}

.background {
    background-color: #f9f0b3;
    padding-bottom: 20px;
}

.content {
    padding: 40px;
}

.tituloSection {
    background-color: black;
    margin: 0;
    height: 35px;
    line-height: 30px;
    color: #fff;
    padding: 5px 58px;
    font-size: 25px;
    margin-bottom: 20px;
}

.footer {
    background: #eab676;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

.PF {
    background-color: #7b5d04;
    margin: 0;
    height: 35px;
    line-height: 30px;
    color: #fff;
    padding: 5px 58px;
    font-size: 25px;
    margin-bottom: 20px;
    margin-left: 0;
    text-align: center;
}

.articulosEsp {
    background: #f9f6df;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    margin: 20px auto;
    padding: 20px;
}

.articulos {
    background: #f9f6df;
    max-width: 900px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}

tr {
    background-color: #eecf99;

}

.idc-box {
    background: #f1e5b4;
    border: 0.5px solid black;
    display: table;
    font-size: 150%;
    margin-bottom: 1px;
    padding: 20px;
    width: auto;
    
}
.idc-box .idc-titulo {
    font-weight: 700;
    text-align: center;
    
}
.idc-box li, .idc-box ul, .idc-box ul li{
    padding: 0 5px;
    list-style: outside none none !important;
}



